# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# IDEs
.idea/
.vscode/

# Doxygen-generated
doc/

# test reports and log files
*.log
*.xml

# OS
.DS_Store
Thumbs.db

# binaries and compiled files
*.app
*.exe
*.bin
*.out
*.o
examples/*.dll
tests/*.dll
*.plist

# Large media files
*.avi
*.flv
*.jpg
*.mov
*.pgm
*.ppm
*.png
*.tiff
*.wmv
*.mtl

# temporary outputs from obj2vol tool
tools/header.vol
tools/sequence.vol

# per-fuzz folders created and copied into by fuzzer
fuzzing/geom_inputs/
fuzzing/av_inputs/
fuzzing/geom_outputs/
fuzzing/av_outputs/

# any temporary / manual testing files lying around
fuzzing/*.vol
tests/header.vol
tests/sequence.vol
examples/Virtual*
examples/Sam*
examples/op_*
output_frame_*.obj
tools/*.dll
tools/1625575284206_ld/
build/
src/header.vol
src/sequence.vol
examples/*.vols
examples/*.bvh
examples/*.mp4
examples/*.webm
examples/*_ld*/
audiofile
wasm/vol_geom.js
wasm/vol_geom.wasm
